<!DOCTYPE html>
<html>
  <head>
    <title>GuplistJr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div>
      <header>
        <nav>
          <span class="nav_links_span">
            <% if logged_in? %>
              <p>
                <%= link_to "#{current_user.username}" %>
              </p>

              <a class="nav_links"href="/users/logout">Logout</a>
              <a class="nav_links" href="/questions/new">Ask a Question</a>
            <% else %>
              <a class="nav_links"href="/users/new">Register</a>
              <a class="nav_links"href="/users/login">Login</a>
              <p>
                <%= link_to
              </p>
            <% end %>
            <a class="nav_links"href="/">Home</a>
            </span class="nav_links">
        </nav>
      </header>
   </div>

    <%= yield %>

  </body>
</html>
